html {
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 40px;
}

body {
    margin: 0;
}

header {
    background: url(./image/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    margin-top: 0;
}

.nav {
    list-style: none;
    font-weight: bold;
    background-color: rgba(202, 72, 87, 0.574);
    width: 14%;
    height: 5vh;
    position: fixed;
    border-radius:0 5% 5% 0 ;
    display: flex;
    align-items: center;
}

.nav li {
    display: flex;
    width: 15vw;
}

.nav a:hover {
    color: orange;
}

.nav a {
    text-decoration: none;
}

a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

li:after {
    content: "\25BC";
    color: aliceblue;
    font-size: x-small;
}

h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5rem;
    margin: 0;
    width: 30vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main */
h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:cursive;
    height: 15vh;
    align-items: center;
}

h2:before {
    content: "\02014";
    color: orange;
    padding-right: 10px;
    width: 40px;
}

h2::after {
    content: "\02014";
    color: orange;
    padding-left: 10px;
    width: 40px;
}
main{
    width: 70%;
    margin: auto;
}
div{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
section{
    display:flex;
}
section h3 {
    font-size: 2rem;
}

section img {
    width: 30vw;
    height: 30vh;
    border-radius: 10% 0 0 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.firstpar {
    border-bottom: dotted 2px black;
    font-size: 1.5rem;
}
.hotel {
    display: flex;
    font-size: 1.3rem;
    width: 30%;
    height: 30vh;
    border-radius: 0 16% 16% 0;
    border: dotted red 2px;
}
.hotel li{
    list-style: none;
}
.hotel p::after{
    content: "\2605";
}
.button{
    border: solid red 2px;  
    width: 50px; 
    border-radius: 10%;
    display: flex;
    height: 10vh;
}
.button:hover{
    background-color: goldenrod;
    color: white;
}
/*
aside {
    margin-top: 30px;
    width: 15%;
    display: inline-block;
    float: right;
    background-color: rgb(45, 86, 81);
    border-radius: 40px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
}

aside ul {
    margin: 30px 0;
    list-style: none;
}

aside ul li {
    padding: 10px 0;
    margin: 10px 0
}

aside ul li a {
    color: white;
    text-decoration: none;

}

aside ul li a:hover {
    color: rgb(86, 174, 218)
}
*/
footer {
    background-color: rgba(241, 46, 46, 0.81);
    width: 100%;
    height: 10vh; 
}
footer nav li {
    display: inline-block;
}
footer ul a {
    text-decoration: none;
}
footer a:hover {
    color: orange;
}